@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: .5rem;
}
.form-wrapper {
    margin: 5rem 0;
}
.bmiForm input {
    padding: .5rem .3rem;
    font-weight: 600;
    margin: .5rem 0;
}
.bmiForm button {
    border: 0;
    background-color: #1a73e8;
    margin-top: .5rem;
    padding: .5rem 1rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color .5s;
}

.bmiForm button:hover {
    background-color: #333;
    
}